startup_commands toggle_custom_color

use_legacy_keybinds 0

custom_color_contrast 0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color #1d2021
page_separator_width 10
custom_background_color #282828
custom_text_color #fbf1c7
search_highlight_color #7ec16e
status_bar_color #427b58
status_bar_text_color #fbf1c7

zoom_inc_factor 1.2

vertical_move_amount 1.0
horizontal_move_amount 1.0

move_screen_ration 0.5

flat_toc 0

should_load_tutorial_when_no_other_file 1

should_launch_new_window 0
