configuration{
    modi: "run,window,drun";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    display-run: "Run: ";
    display-window: "Windows: ";
    display-drun: "Applications: ";
    font: "JetBrainsMono Nerd Font Medium 10";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
