* {
    border: none;
    font-family: 'Fira Code', 'FiraCode Nerd Font Propo';
    font-size: 18px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    min-height: 23px;
}

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

#workspaces,
#custom-arch,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#bluetooth {
    background: #1a1a1a;
}

#workspaces button {
    color: #ffffff;
    padding: 0 5px;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #1a1a1a;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #292b2e;
    background: #1a1a1a;
}

#custom-arch,
#workspaces,
#clock,
#backlight,
#pulseaudio,
#memory,
#cpu,
#disk,
#bluetooth,
#network,
#battery {
    margin: 0;
    padding: 0 8px;
}

#pulseaudio {
    color: #268bd2;
}

#memory {
    color: #2aa198;
}

#cpu {
    color: #6c71c4;
}

#battery {
    color: #44a12a;
}

#network,
#bluetooth {
    color: #b58900;
}

#clock.1,
#clock.2,
#clock.3 {
    color: #2a99a1;
}
